.movie-details {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1,
  p {
    margin-top: 20px;
    color: #fff;
  }

  .details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-top: 20px;
    color: #fff;
  }

  .description {
    margin-top: 2rem;
    max-width: 600px;
    width: 100%;
    color: #fff;

    h4 {
      text-align: center;
      text-transform: uppercase;
    }
  }
}
