.container__search {
  width: 100%;
  height: 100vh;

  .title {
    margin-top: 20px;
    text-align: center;
    color: #fff;
  }

  &__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
